@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;

    line-height: 1.6;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: #000;
}

a {
    text-decoration: inherit;
}

.background-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    padding-inline: 32px;
    inset: 0;
    height: 100%;
    z-index: -1;

    @media (max-width: 1024px) {
        padding-inline: 16px;
    }

    @media (max-width: 768px) {
        padding-inline: 0;
    }
}

.background {
    padding: 0 32px;
    background: #19191c;
    max-width: 1280px;
    width: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

main {
    min-height: 100vh;
}

.mx-auto {
    max-width: 1280px;
    margin: 0 auto;
}

.px-auto {
    padding-inline: 32px;

    @media (max-width: 768px) {
        padding-inline: 16px;
    }
}

.header-wrapper {
    position: sticky;
    padding-top: 32px;
    padding-inline: 64px;
    top: 0;
    z-index: 20;
    transition: transform 0.2s ease;
    will-change: transform;

    @media (max-width: 768px) {
        padding-inline: 0;
    }
}

@keyframes fadeOut {
    to {
        transform: translateY(-100%);
    }
}

#sticky-header {
    animation: fadeOut linear forwards;
    animation-timeline: scroll();
    animation-range: 0 300px;
}

.header {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
    gap: 4px;
    width: 100%;

    @media (max-width: 768px) {
        padding-inline: 0;
    }

    .header-container {
        display: flex;
        flex: 1;
        gap: 16px;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            justify-content: end;
        }
    }

    .nav-free-space {
        flex: 1;

        @media (max-width: 768px) {
            display: none;
        }

        @media (min-width: 768px) {
            display: block;
        }
    }

    .mobile-nav-btn {
        display: flex;
        flex: 1;
        height: 50px;
        max-width: 140px;
        flex-direction: row;
        background: rgba(37, 37, 41, 0.9);
        backdrop-filter: blur(4px);
        padding: 4px 16px;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1);

        @media (max-width: 768px) {
            display: block;
        }

        @media (min-width: 768px) {
            display: none;
        }

        span {
            padding: 8px 12px;
            font-size: 16px;
            color: #fff;
        }

        svg {
            width: 10px;
            height: 10px;
            fill: #3e3e45;
            border-radius: 50%;
            stroke: rgb(255, 255, 255, 0.5);
        }
    }

    nav {
        display: flex;
        flex: 1;
        width: 425px;
        background: rgba(37, 37, 41, 0.9);
        backdrop-filter: blur(4px);
        padding: 4px 16px;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1);

        @media (max-width: 768px) {
            display: none;
        }

        @media (width: 768px) {
            display: flex;
        }

        ul {
            display: flex;
            width: 100%;
            flex-direction: row;
            font-weight: 500;
            list-style: none;
            align-items: center;
            justify-content: center;

            li {
                display: inline-block;
                padding: 8px 12px;
                transition: color 0.2s ease;
            }

            li:hover {
                color: #2dd4bf;
            }
        }
    }

    &__theme-switcher {
        display: flex;
        align-items: center;

        @media (min-width: 768px) {
            flex: 1;
            justify-content: end;
        }

        button {
            background-color: rgba(37, 37, 41, 0.9);
            border-radius: 40px;
            backdrop-filter: blur(4px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.1);
            height: 50px;
            width: 60px;
            transition: border-color 0.3s ease;
        }

        button:hover {
            border-color: rgba(255, 255, 255, 0.5);
        }

        svg {
            width: 24px;
            height: 24px;
            fill: #3e3e45;
            border-radius: 50%;
            stroke: rgb(255, 255, 255, 0.5);
        }
    }
}

.avatar-container {
    margin-top: 80px; // mt-xl
    padding-inline: 64px;

    @media (max-width: 1024px) {
        padding-inline: 16px;
    }

    @media (max-width: 768px) {
        padding-inline: 0;
    }

    img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
    }
}

.mt-sm {
    margin-top: 8px;
}

.person-info {
    display: flex;
    padding-inline: 64px;
    margin-top: 24px;

    @media (max-width: 1024px) {
        padding-inline: 16px;
    }

    @media (max-width: 768px) {
        padding-inline: 0;
    }

    section {
        max-width: 65%;

        @media (max-width: 768px) {
            max-width: 100%;
        }

        p {
            margin-top: 16px;
            color: #a1a1aa;
        }

        div {
            display: flex;
            gap: 16px;
            flex-direction: row;
            margin-top: 32px;

            @media (max-width: 768px) {
                gap: 32px;
            }

            a {
                width: 24px;
                height: 24px;
                fill: #a1a1aa;
                transition: fill 0.2s ease;
            }

            a:hover {
                fill: white;
            }
        }
    }
}

.heading-1 {
    font-size: 2.75rem;
    font-weight: 800;
    line-height: 1.4;

    @media (max-width: 768px) {
        font-size: 1.4rem;
    }
}

.image-wrapper {
    margin-top: 80px;

    div:nth-of-type(1) {
        display: flex;
        justify-content: center;
        gap: 32px;
        padding: 16px 0;
        overflow: hidden;

        .image-item {
            width: 300px;
            height: 330px;
            aspect-ratio: 9 / 10;
            overflow: hidden;
            background: #252529;
            border-radius: 10px;
            flex: none;

            img {
                object-fit: cover;
            }

            &:nth-child(even) {
                rotate: 2deg;
            }

            &:nth-child(odd) {
                rotate: -2deg;
            }
        }
    }
}

.portfolio-wrapper {
    margin-top: 80px;
    padding-inline: 64px;

    @media (max-width: 1024px) {
        padding-inline: 16px;
    }

    @media (max-width: 768px) {
        padding-inline: 0;
    }
}

.portfolio-container {
    display: flex;

    @media (max-width: 1440px) {
        flex-direction: column;
    }

    @media (min-width: 1440px) {
        flex-direction: row;
    }
}

.articles {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 48px;
    width: 100%;

    .article {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: start;
        border-radius: 16px;
        transition: background 0.2s ease;

        time {
            position: relative;
            margin-bottom: 10px;
            padding-left: 16px;
            font-weight: 300;
            font-size: 16px;
            color: #808087;
            z-index: 2;
        }

        .line {
            position: absolute;
            display: flex;
            background: #a1a1aa;
            width: 2px;
            height: 16px;
            inset-block: 4px 0;
            left: 0;
            border-radius: 2px;
        }

        .link {
            display: flex;
            flex-direction: row;
            font-weight: 600;
            font-size: 0.9rem;
            color: #2dd4bf;

            svg {
                width: 22px;
                height: 100%;
                margin-left: 4px;
                stroke: currentColor;
            }
        }

        h2 {
            font-size: 16px;
            font-weight: 600;
            z-index: 1;

            a {
                color: #fff;
            }
        }

        p {
            font-size: 14px;
            font-weight: 400;
            color: #a1a1aa;
            margin-top: 10px;
            z-index: 1;
        }

        a {
            margin-top: 20px;
            color: #2dd4bf;
            z-index: 1;
        }
    }
}

.animated-bg {
    left: -0.9rem;
    right: -0.9rem;
    top: -1.2rem;
    bottom: -1.2rem;
    position: absolute;
    z-index: -1;
    border-radius: 16px;
    scale: 0.95;
    opacity: 0;
    transition: all 0.2s ease;
}

.article:hover .animated-bg {
    background: #25252c;
    opacity: 1;
    scale: 1;
}

.hr-info {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;

    @media (max-width: 1440px) {
        margin-top: 80px;
    }

    @media (min-width: 1440px) {
        padding-left: 128px;
    }

    .form {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        border: 1px solid #252529;
        padding: 24px;

        h2 {
            display: flex;
            align-items: start;
            font-size: 16px;
            font-weight: 600;
        }

        span {
            margin-left: 8px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            color: #a1a1aa;
            margin-top: 10px;
        }

        svg {
            width: 24px;
            height: 24px;
            stroke: rgb(255, 255, 255, 0.5);
        }
    }

    .submit {
        display: flex;
        flex-direction: row;
        margin-top: 24px;
        gap: 16px;

        input {
            width: 100%;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
            background: #1c1c21;
            padding: 8px;
            border: 1px solid #38383e;

            &:focus {
                border-color: #30a14a;
                outline-style: none;
            }
        }

        button {
            padding: 12px 12px;
            border-radius: 4px;
            font-weight: bolder;
            font-size: 14px;
            color: #fff;
            border: none;
            background: #4e4e55;
            transition: background 0.2s ease;

            &:hover {
                background: #65656e;
            }
        }
    }
}

.work-history {
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #252529;
    margin-top: 36px;

    h2 {
        display: flex;
        align-items: start;
        font-size: 16px;
        font-weight: 600;
    }

    span {
        margin-left: 8px;
    }

    .point {
        margin-top: 32px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    svg {
        width: 24px;
        height: 24px;
        stroke: rgb(255, 255, 255, 0.5);
    }

    img {
        width: 32px;
        height: 32px;
        transform: translate(11%, 11%);
    }

    .image-container {
        width: 45px;
        height: 40px;
        border: 1px solid #38383e;
        border-radius: 100%;
        background-color: #262629;
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 16px;

        h2 {
            font-size: 14px;
        }

        div {
            margin-top: 8px;
            font-size: 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #a1a1aa;

            @media (max-width: 768px) {
                font-size: 10px;
            }
        }

        span {
            margin: 0;
        }
    }
}

.download-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    padding: 12px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    border-radius: 8px;
    background-color: #242427;
    color: #a1a1aa;
    border: none;
    transition: background-color 0.2s ease;

    svg {
        width: 18px;
        height: 18px;
        margin-left: 4px;
    }

    span {
        margin: 0;
    }

    &:hover {
        background-color: #2d2d32;
    }
}

.footer-wrapper {
    margin-top: 80px;

    @media (max-width: 1024px) {
        padding-inline: 16px;
    }

    @media (max-width: 768px) {
        padding-inline: 0;
    }

    .mx-auto {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.footer-container {
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        justify-content: center;
        gap: 16px;
    }

    nav {
        padding: 4px;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 24px;
        font-size: 14px;
        font-weight: 600;

        li {
            transition: color 0.2s ease;

            &:hover {
                color: #2dd4bf;
            }
        }
    }

    span {
        color: #808087;
        font-size: 12px;
        padding: 4px;
    }
}
